@use '../base/variables' as v;
@use '../base/mixins' as m;

#intro_actividad04{

    position: relative;
    @include m.grid(2, 1rem);
    overflow: hidden;
    @include m.fondoCirculos;

    &::after{
        content: '';
        background: v.$gris;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: -1;
    }

    @include m.tablet{
        @include m.grid(1, 1rem);
    }
 
    .cont-vineta{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        #vineta04{
            @include m.vineta(v.$blanco, v.$azul, 90%, 8rem, derecha);

            #frase01{
                @include m.resaltar(v.$azul, 700);
            }

            #frase02{
                @include m.resaltar(v.$verde, 700);
            }
        }
    }

    .cont-imagen{
        min-height: 100%;
    }
    
}

.fondo_circulos{

    @include m.fondoCirculos;

    #cuadros-informativos{
        width: 90%;
        margin: 0 auto;
        
        @include m.grid(1, 2rem);
    
        .cuadros_info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            line-height: 1.6;
            color: v.$blanco;

            @include m.tablet{
                flex-direction: column;
            }
    
            .cont-imagen{
                width: 15%;
                height: 15rem;

                @include m.tablet{
                    width: 90%;
                }
            }
    
            .parrafos{
                width: 75%;
                text-align: justify;

                @include m.tablet{
                    width: 90%;
                    text-align: center
                }
            }
    
            &#cuadro01{
                @include m.cuadrosInfo(v.$verde);   
            }
    
            &#cuadro02{
                @include m.cuadrosInfo(v.$azul);  
            }
    
            &#cuadro03{
                @include m.cuadrosInfo(v.$naranja);  
            }
    
            &#cuadro04{
                @include m.cuadrosInfo(v.$verde);  
            }
        }
    }
}

#cont-pregunta{
    
    margin-top: 4rem;
    @include m.fondoCirculos;
    
    #intro-pregunta{
        @include m.grid(2, 1rem);
        height: auto;
        overflow: hidden;

        @include m.tablet{
            @include m.grid(1, 1rem);
        }

        #vineta04_2{

            display: flex;
            justify-content: center;
            align-items: flex-start;

            @include m.tablet{
                grid-row: 1/2;
            }

            #cont-informacion{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                position: relative;

                @include m.vineta(v.$blanco, v.$azul, 90%, 2rem, izquierda);

               
                #informacion{
                    width: 80%;
                    text-align: center;

                    #pregunta{
                        @include m.resaltar(v.$azul, 700);
                    }

                    #clic{
                        @include m.resaltar(v.$verde, 700);
                    }
                }

                .cont-img{
                    width: 20%;
                    align-self: flex-end;
                }
            }
        }

        .cont-imagen{
            height: 100%;

            @include m.tablet{
                height: 40rem;
            }
        }
    }
}

#cont-respuestas{

    margin-top: 2rem;
    @include m.fondoCirculos;

    .fondo{
        width: 90%;
        margin: 0 auto;
        @include m.grid(1, 2rem);
    }
    
    
    .respuestas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        @include m.tablet{
            flex-direction: column-reverse;
        }

        .inciso{
            width: 10%;
            font-size: 4.2rem;
            padding: 2rem;
            color: v.$blanco;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include m.tablet{
                width: 100%;
                justify-content: center;
            }
        }

        .respuesta{
            width: 85%;
            text-align: center;
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
            background: v.$blanco;
            padding: 2rem 4rem;

            @include m.tablet{
                width: 100%;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        &#resp01{
            @include m.cuadrosRespuesta(v.$verde);
        }

        &#resp02{
            @include m.cuadrosRespuesta(v.$azul);
        }

        &#resp03{
            @include m.cuadrosRespuesta(v.$naranja);
        }   
    }
}