@use '../base/variables' as v;
@use '../base/mixins' as m;

#intro_actividad03{

    @include m.grid(2, 1rem);
    position: relative;
    @include m.fondoCirculos;

    @include m.tablet{
        @include m.grid(1, 1rem);
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: v.$verde;
        z-index: -1;
    }

    .cont-vineta{

        display: flex;
        justify-content: center;
        align-items: flex-start;

        #vineta03{
            @include m.vineta(v.$blanco, v.$azul, 90%, 6rem, derecha);

            #frase_01{
                @include m.resaltar(v.$azul, 700);
            }

            #frase_02{
                @include m.resaltar(v.$verde, 700);
            }
        }
    }

    .cont-imagen{
        min-height: 100%;
    }
}

#zona_actividad01{
    width: 100%;
    padding: 10rem 2rem 2rem 2rem;
    background-image: url(/build/img/contenido/Pag03/fondo.svg);
    @include m.grid(1, 1.5rem);

    #pines{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .definiciones{
            width: 10rem;
            height: 4.5rem;
            position: relative;
            background: v.$blanco;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 3.2rem;
            box-shadow: 10px 11px 5px -4px rgba(0,0,0,0.75);
            transition: animation .3s ease-in-out;
            z-index: 12;

            &:hover{
                cursor: pointer;
                animation: 1s balanceo 1;
            }

            p{
                font-size: 1rem;
                text-align: center;
                font-weight: 700;
                padding-bottom: .5rem;
            }

            .pin{
                position: absolute;
                z-index: 11;
                width: 3.2rem;
                height: 3.2rem;
                top: -1.2rem;
                left: 30%;
            }

            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 1rem;
                top: 0;
                left: 0;
            }

            &#definicion01{
                &::before{
                    background: v.$naranja;
                }
            }
            
            &#definicion02{
                &::before{
                    background: v.$gris;
                }
            }

            &#definicion03{
                &::before{
                    background: v.$azul2;
                }
            }

            &#definicion04{
                &::before{
                    background: v.$amarillo;
                }
            }

            &#definicion05{
                &::before{
                    background: v.$azul2;
                }
            }

            &#definicion06{
                &::before{
                    background: v.$amarillo;
                }
            }

            &#definicion07{
                &::before{
                    background: v.$gris2;
                }
            }

            &#definicion08{
                &::before{
                    background: v.$naranja;
                }
            }
        }
    }

    #post-its{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .posts{
            width: 25rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 1.6rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: v.$azul;
            margin-bottom: 3rem;
            position: relative;

            .clip{
                position: absolute;
                width: 3rem;
                height: 5rem;
                top: -.5rem;
                right: -1rem;
                z-index: 4;
            }

            p{
                margin-top: 2rem;
            }

            &#post01{
                background-image: url(/build/img/contenido/Pag03/post-it1.svg);
            }
            &#post02{
                background-image: url(/build/img/contenido/Pag03/post-it2.svg);
            }
            &#post03{
                background-image: url(/build/img/contenido/Pag03/post-it3.svg);
            }
            &#post04{
                background-image: url(/build/img/contenido/Pag03/post-it4.svg);
            }
            &#post05{
                background-image: url(/build/img/contenido/Pag03/post-it5.svg);
            }
            &#post06{
                background-image: url(/build/img/contenido/Pag03/post-it6.svg);
            }
            &#post07{
                font-size: 1rem;
                background-image: url(/build/img/contenido/Pag03/post-it7.svg);
            }
            &#post08{
                background-image: url(/build/img/contenido/Pag03/post-it8.svg);
            }

            @include m.fondo(center bottom);
        }
    }
}

//Animaciones
@keyframes balanceo {
    20%{
        transform: rotate(8deg);
    }
    40%, 80%{
        transform: rotate(-8deg);
    }
    60%, 95%{
        transform: rotate(8deg);
    }
}