@use '../base/variables' as v;
@use '../base/mixins' as m;

#seccion1{
    @include m.grid(2, 1rem);
    position: relative;

    @include m.tablet{
        @include m.grid(1, 1rem);
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: v.$azul3;
        z-index: -1;
    }

    .cont-vineta{
        display: inline-block;
        justify-content: center;
        align-items: flex-start;
        #vineta01{
            left: 2rem;
            @include m.vineta(v.$blanco, v.$azul, 90%, 6rem, derecha);

            #frase_01{
                @include m.resaltar(v.$azul, 500);
            }

            #frase_02{
                @include m.resaltar(v.$verde, 700);
            }
        }

        #vineta02{
            left: 2rem;
            @include m.vineta(v.$blanco, v.$azul, 90%, 2rem, derecha);

            #frase_01{
                @include m.resaltar(v.$azul, 500);
            }
        }
    }

    .cont-imagen{
        max-height: 100%;
    }
}

#seccion2{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    background: v.$verde;
    
    @include m.tablet{
        @include m.grid(1, 1rem);
    }

    #linea{
        left: 55rem;
        width: 2rem;
        height: 100%;
        position: absolute;
        background-color: v.$amarillo;
        
        @include m.escritorioHD{
            left: 77rem;
        }
        @include m.tablet{
            left: 55rem;
        }
    }

    #cont_pop1{
        @include m.cont_pop(v.$azul, 5rem, 5rem, 5rem, left);
        #pop1{
            @include m.pop;
            #texto01{
                @include m.resaltar(v.$azul, 400);
            }
        }

        .icon1{
            @include m.icon(15%, 55%);

            @include m.telefono{
                @include m.icon(20%, 50%);
            }
        }
    }

    #circulo01{
        @include m.circulo(v.$azul, 5rem, 5rem);

        @include m.telefono{
            top: 2rem;
            padding-top: 4rem;
        }
        
        #fecha01{
            @include m.resaltar(v.$blanco, 600);
        }
    }

    #cont_pop2{
        @include m.cont_pop(v.$rojo, 5rem, 70rem, 5rem, right);

        #pop2{
            @include m.pop;

            #texto02{
                @include m.resaltar(v.$rojo, 400);
            }
        }
        .icon2{
            @include m.icon(15%, 50%);
            @include m.telefono{
                @include m.icon(20%, 42%);
            }
        }
    }

    #circulo02{
        @include m.circulo(v.$rojo, 26rem, 3rem);

        @include m.tablet{
            top: 33rem;
        }
        @include m.telefono{
            top: 43rem;
            padding-top: 3rem;
        }
        #fecha02{
            @include m.resaltar(v.$blanco, 600);
        }
    }

    #cont_pop3{
        @include m.cont_pop(v.$verde, 5rem, 5rem, 5rem, left);

        #pop3{
            @include m.pop;

            #texto03{
                @include m.resaltar(v.$verde, 400);
            }
        }
        .icon3{
            @include m.icon(15%, 55%);
            @include m.telefono{
                @include m.icon(20%, 50%);
            }
        }
    }

    #circulo03{
        @include m.circulo(v.$verde, 46rem, 5rem);

        @include m.tablet{
            top: 57rem;
        }
        @include m.telefono{
            top: 81rem;
            padding-top: 3rem;
        }
        #fecha03{
            @include m.resaltar(v.$blanco, 600);
        }
    }

    #cont_pop4{
        @include m.cont_pop(v.$azul, 5rem, 70rem, 5rem, right);
        #pop4{
            @include m.pop;
            #texto04{
                @include m.resaltar(v.$azul, 400);
            }
        }
        .icon4{
            @include m.icon(15%, 30%);
            @include m.telefono{
                @include m.icon(15%, 20%);
            }
        }
    }

    #circulo04{
        @include m.circulo(v.$azul, 68rem, 4rem);

        @include m.tablet{
            top: 85rem;
        }
        @include m.telefono{
            top: 121rem;
            padding-top: 3rem;
        }
        #fecha04{
            @include m.resaltar(v.$blanco, 600);
        }
    }

    #cont_pop5{
        @include m.cont_pop(v.$rojo, 5rem, 5rem, 5rem, left);
        #pop5{
            @include m.pop;
            #texto05{
                @include m.resaltar(v.$rojo, 400);
            }
        }
        .icon5{
            @include m.icon(15%, 45%);
            @include m.telefono{
                @include m.icon(15%, 30%);
            }
        }
    }

    #circulo05{
        @include m.circulo(v.$rojo, 100rem, 4rem);

        @include m.tablet{
            top: 123rem;
        }
        @include m.telefono{
            top: 181rem;
            padding-top: 3rem;
        }
        #fecha05{
            @include m.resaltar(v.$blanco, 600);
        }
    }
}

#seccion3{
    width: 100%;
    height: 15rem;
    position: relative;
    background-color: v.$gris;
    display: inline-block;
    @include m.fondoCirculos;

    @include m.telefono{
        height: 20rem;
    }

    #cuadroverde{
        width: 70rem;
        height: 10rem;
        left: 5rem;
        top: 2rem;
        bottom: 2rem;
        font-size: 2.5rem;
        padding: 2rem 2rem 2rem 2rem;
        text-align: center;
        border-radius: 1rem;
        position: relative;
        box-shadow: .2rem .2rem .2rem .2rem;
        background: v.$verde;

        @include m.tablet{
            width: 50rem;
        }

        @include m.telefono{
            width: 30rem;
            height: 15rem;
            left: 1.2rem;        }

        #texto{
            @include m.resaltar(v.$blanco, 700);
        }
    }
}

#seccion4{
    width: 100%;
    height: auto;
    @include m.fondoCirculos;

    #cont-verde{
        margin-top: 5rem;
        margin-left: 12rem;
        width: 80%;
        height: 50%;
        background: v.$verde;
        border: 5px solid v.$blanco;
        box-shadow: 10px 11px 5px -4px rgba(0,0,0,0.45);
        border-radius: 2rem;

        &::after{
            content: '';
            position: absolute;
            width: 90%;
            height: 16rem;
            right: 6.3rem;
            background: v.$azul;
            z-index: -1;

            @include m.escritorioHD{
                right: 6rem;
            }
            @include m.tablet{
                right: 3.8rem;
            }
            @include m.telefono{
                right: 2rem;
            }
        }

        @include m.tablet{
            margin-left: 7rem;
        }

        @include m.telefono{
            margin-left: 3rem;
        }

        .detective2{
            position: relative;
            width: 30%;
            height: 50%;
        }

        #cuadro-texto{
            width: 100%;
            height: 50rem;
            bottom: 1rem;
            position: relative;
            background: v.$blanco;
            border-right: medium double v.$azul3;

            @include m.tablet{
                height: 60rem;
            }

            @include m.telefono{
                height: 120rem;
            }

            #titulo{
                position: relative;
                top: 3rem;
                font-size: 2.6rem;
                text-align: center;
                padding-bottom: 5rem;
                @include m.resaltar(v.$azul, 700);
            }

            #lista{
                position: relative;
                top: 4rem;
                right: 1rem;
                font-size: 2.1rem;
                margin-left: 5rem;
                @include m.resaltar(v.$azul, 300);


            }
        }
    }
    .lupa{
        position: relative;
        top: -10rem;
        left: 20rem;
        width: 20%;
        height: 30%;

        @include m.tablet{
            top: -4rem;
            left: 15rem;
        }
        @include m.telefono{
            width: 30%;
            height: 40%;
            top: -4rem;
            left: 10rem;
        }
    }
}

#seccion5{
    width: 100%;
    height: 15rem;
    position: relative;
    background-color: v.$gris;
    display: inline-block;
    z-index: -1;
    @include m.fondoCirculos;

    @include m.telefono{
        height: 23rem;
    }

    #texto{
        position: relative;
        text-align: center;
        font-size: 4rem;
        text-shadow: black 0.1em 0.1em 0.2em;
        top: 2rem;
        @include m.resaltar(v.$blanco, 700);
    }

}

#seccion6{
    margin-left: 30rem;
    margin-top: 7rem;

    @include m.tablet{
        margin-left: 17rem;
    }
    @include m.telefono{
        margin-left: 1rem;
    }
    .desplegable01{
        width: 50%;
        height: 50%;

        @include m.tablet{
            width: 70%;
            height: 70%;
        }
        @include m.telefono{
            width: 100%;
            height: 100%;
        }
    }
    .desplegable02{
        width: 50%;
        height: 50%;

        @include m.tablet{
            width: 70%;
            height: 70%;
        }
        @include m.telefono{
            width: 100%;
            height: 100%;
        }
    }
    
}