@use 'variables' as v;

@mixin telefono {
    @media (max-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin escritorio {
    @media (max-width: v.$escritorio) {
        @content;
    }    
}

@mixin escritorioHD {
    @media (max-width: v.$escritorioHD) {
        @content;
    }    
}

@mixin escritorioXLL {
    @media (max-width: v.$escritorioFHD) {
        @content;
    }    
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin resaltar($color, $grosor) {
    color: $color;
    font-weight: $grosor;
}

@mixin fondo($position) {
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin cuadrosInfo($color) {
    
    background: lighten($color,  4);
    border: 5px solid darken($color,  4);
    border-radius: 2rem;
    position: relative;
    z-index: 5;
    

    .fondo_oscuro{
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        clip-path: circle(122.5% at 100% 100%);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@mixin cuadrosRespuesta ($color) {
    background: $color;
    border-radius: 2rem;
    border: 5px solid darken($color,  4);
    color: $color;
}