@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

//Dispositivos
$telefono: 480px;
$tablet: 768px;
$escritorio: 960px;
$escritorioHD: 1280px;
$escritorioFHD: 1400px; 

//Fuentes
$Roboto: 'Roboto', sans-serif;
$Helvetica: 'Helvetica', sans-serif;

//Colores
$verde: #129a63;
$azul: #3b5895;
$gris: #3d3d3d;
$blanco: #ffffff;
$gris2: #616a84;
$gris3: #f5f5f5;
$azul2: #2c4268;
$azul3: #4d92aa;
$naranja: #ea6174;
$amarillo: #f9c930;
$cafe: #564242;
$rosa: #ffc1ac;
$gris4: #ffffffb2;


